<ons-page class="center">
    
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="bars">
                    </ons-toolbar-button>
        </div>
        <div class="center">ABOUT ALPHA</div>
    </ons-toolbar>
    
    <section style="padding: 10px;">
                <center><h1><strong>The Founding</strong> of Alpha Phi Alpha</h1></center>
                <p style="text-align: justify;">Alpha Phi Alpha, the first intercollegiate Greek-letter fraternity established for African American Men, was founded at Cornell University in Ithaca, New York by seven college men who recognized the need for a strong bond of brotherhood among African descendants in this country. The visionary founders, known as the “Jewels” of the fraternity, are Henry Arthur Callis, Charles Henry Chapman, Eugene Kinckle Jones, George Biddle Kelley, Nathaniel Allison Murray, Robert Harold Ogle, and Vertner Woodson Tandy.</p>
                <p style="text-align: justify;">The fraternity initially served as a study and support group for minority students who faced racial prejudice, both educationally and socially, at Cornell. The Jewel founders and early leaders of the fraternity succeeded in laying a firm foundation for Alpha Phi Alpha's principles of scholarship, fellowship, good character, and the uplifting of humanity.</p>
                <p style="text-align: justify;">Alpha Phi Alpha chapters were established at other colleges and universities, many of them historically black institutions, soon after the founding at Cornell. The first alumni chapter was established in 1911. While continuing to stress academic excellence among its members, Alpha also recognized the need to help correct the educational, economic, political, and social injustices faced by African Americans. Alpha Phi Alpha has long stood at the forefront of the African-American community's fight for civil rights through leaders such as W.E.B. DuBois, Adam Clayton Powell, Jr., Edward Brooke, Martin Luther King, Jr., Thurgood Marshall, Andrew Young, William Gray, Paul Robeson, and many others. True to its form as the “first of firsts,” Alpha Phi Alpha has been interracial since 1945.</p>
                <p style="text-align: justify;">Since its founding on December 4, 1906, Alpha Phi Alpha Fraternity, Inc. has supplied voice and vision to the struggle of African Americans and people of color around the world.</p>                
    </section>
</ons-page>