<ons-page class="center">
    
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="menu.toggleMenu()">
                <ons-icon icon="bars">
                    </ons-toolbar-button>
        </div>
        <div class="center">LINEAGE</div>
    </ons-toolbar>
    <section style="padding: 10px;">
    <center>
        <p style="text-align: center;"><strong>Spring 1932 – Club Betton</strong></p>
        <p style="text-align: center;">1. Noah Harold Bennett</p>
        <p style="text-align: center;">2. Jubie B. Bragg, Jr.</p>
        <p style="text-align: center;">3 .Lincoln B. Childs</p>
        <p style="text-align: center;">4. Samuel O’Tanner Cohen</p>
        <p style="text-align: center;">5. William M. DuBose</p>
        <p style="text-align: center;">6. Douglas Warren Greene</p>
        <p style="text-align: center;">7. Jerome E. Matthews</p>
        <p style="text-align: center;">8. Frank E. Pinder, Jr.</p>
        <p style="text-align: center;">9. James Pinkney</p>
        <p style="text-align: center;">10. William W. Weatherspool</p>
        <p style="text-align: center;">11. Joshua W. Williams</p>
        <p style="text-align: center;"><strong>Spring 1949 </strong></p>
        <p style="text-align: center;">1. Richard M. Hunter</p>
        <p style="text-align: center;">2. James Mattthews</p>
        <p style="text-align: center;">3. James Blow</p>
        <p style="text-align: center;">4. Jasper Saunders</p>
        <p style="text-align: center;">5. Alphonso McGhee</p>
        <p style="text-align: center;">6. Arthur Woodward</p>
        <p style="text-align: center;">7. Charles Leonard</p>
        <p style="text-align: center;">8. Edwin Matthews</p>
        <p style="text-align: center;">9. John S. Smith</p>
        <p style="text-align: center;"><strong>Spring 1950 </strong></p>
        <p style="text-align: center;">1. Edward Brooks</p>
        <p style="text-align: center;">2. Robert Carroll</p>
        <p style="text-align: center;">3. Anthony Castillo</p>
        <p style="text-align: center;">4. Willie J. Condry</p>
        <p style="text-align: center;">5. David A. Danley</p>
        <p style="text-align: center;">6. Albert C. Ferguson</p>
        <p style="text-align: center;">7. Frederick Hendon</p>
        <p style="text-align: center;">8. Harold Hill</p>
        <p style="text-align: center;">9. Ernest Knight</p>
        <p style="text-align: center;">10. Bobby Lewis</p>
        <p style="text-align: center;">11. James H. Lovett</p>
        <p style="text-align: center;">12. Isaac J. Meares</p>
        <p style="text-align: center;">13. Foster Oden</p>
        <p style="text-align: center;">14. Allen Orr</p>
        <p style="text-align: center;">15. Reginald Pasteur</p>
        <p style="text-align: center;">16. Rupert Seals</p>
        <p style="text-align: center;">17. Nathaniel Smith</p>
        <p style="text-align: center;">18. Mark Spires</p>
        <p style="text-align: center;">19. Baxter Stretcher</p>
        <p style="text-align: center;">20. Alva E. Thompson</p>
        <p style="text-align: center;"><strong>Fall 1953 – The Unfortunate Eleven </strong></p>
        <p style="text-align: center;">1. Brodes Hartley</p>
        <p style="text-align: center;">2. George L.Mims</p>
        <p style="text-align: center;">3. Charles T. Maxwell</p>
        <p style="text-align: center;">4.Earl V. Farrow</p>
        <p style="text-align: center;">5. W. McClain Garrett</p>
        <p style="text-align: center;">6. Willie L. Roberts</p>
        <p style="text-align: center;">7. Callivan “Iron Man” Gladden</p>
        <p style="text-align: center;">8. Lawrence C. Morman</p>
        <p style="text-align: center;">9. Joseph Woodard (Omega Chapter)</p>
        <p style="text-align: center;">10. Edward P. Nolan (Omega Chapter)</p>
        <p style="text-align: center;">11. Vernon M. Lee (Omega Chapter)</p>
        <p style="text-align: center;"><strong>Fall 1954 – The Unlucky 13</strong></p>
        <p style="text-align: center;">1. Eugene R. Cromartie</p>
        <p style="text-align: center;">2. Ralph L. Flowers</p>
        <p style="text-align: center;">3. Edwin T. Demeritte</p>
        <p style="text-align: center;">4. Clarence Griffin</p>
        <p style="text-align: center;">5. Donald Williams</p>
        <p style="text-align: center;">6. Alfred Biddle</p>
        <p style="text-align: center;">7. Carl Kirksey</p>
        <p style="text-align: center;">8. Levi Johnson</p>
        <p style="text-align: center;">9. Roger McCleod</p>
        <p style="text-align: center;">10. Edward McDonald</p>
        <p style="text-align: center;">11. Rayford Dudley</p>
        <p style="text-align: center;">12. Earl Allen</p>
        <p style="text-align: center;">13. Frederick S. Humphries</p>
        <p style="text-align: center;"><strong>Fall 1966 – The Twelve Apostles</strong></p>
        <p style="text-align: center;">1. Isiah Lee</p>
        <p style="text-align: center;">2. Edgar Robinson</p>
        <p style="text-align: center;">3. Clyde Smith</p>
        <p style="text-align: center;">4. Earl Martin</p>
        <p style="text-align: center;">5. Barron Morris</p>
        <p style="text-align: center;">6. James Lewis</p>
        <p style="text-align: center;">7. Jice Stokes</p>
        <p style="text-align: center;">8. Clarence M. Vaughn</p>
        <p style="text-align: center;">9. James Johnson</p>
        <p style="text-align: center;">10. Lawrence Oliver</p>
        <p style="text-align: center;">11. Roland Gaines</p>
        <p style="text-align: center;">12. Freddie McClain, Jr.</p>
        <p style="text-align: center;"><strong>Spring 1967 – The Defendant 12 </strong></p>
        <p style="text-align: center;">1. Daniel Grishom</p>
        <p style="text-align: center;">2. Dwight Hart</p>
        <p style="text-align: center;">3. Ronald Sarjeant</p>
        <p style="text-align: center;">4. Samuel Harrell (Ω Vietnam)</p>
        <p style="text-align: center;">5. George Edwards</p>
        <p style="text-align: center;">6. Harrel Buggs</p>
        <p style="text-align: center;">7. Delta Green</p>
        <p style="text-align: center;">8. Willie Hudson</p>
        <p style="text-align: center;">9. Kenneth Riley</p>
        <p style="text-align: center;">10. Arthur Gousby</p>
        <p style="text-align: center;">11. Edward Pollard</p>
        <p style="text-align: center;">12. Donn Richardson</p>
        <p style="text-align: center;"><strong>Fall 1967 – The Invincible 6 </strong></p>
        <p style="text-align: center;">1. Zeke Sims</p>
        <p style="text-align: center;">2. Joseph Lee Webster</p>
        <p style="text-align: center;">3. Charles Miller</p>
        <p style="text-align: center;">4. Samuel Head</p>
        <p style="text-align: center;">5. Johnnie Phillips</p>
        <p style="text-align: center;">6. Ronald Nathan</p>
        <p style="text-align: center;"><strong>Spring 1968 – The Magnificent Seven </strong></p>
        <p style="text-align: center;">1. Clarence Winfield</p>
        <p style="text-align: center;">2. Martin Black</p>
        <p style="text-align: center;">3. John Hale</p>
        <p style="text-align: center;">4. Wendell Wimbery</p>
        <p style="text-align: center;">5. Pablo Williams</p>
        <p style="text-align: center;">6. Alexander Green</p>
        <p style="text-align: center;">7. Tony Smith</p>
        <p style="text-align: center;"><strong>Spring 1970 – The Seven Titans of Thebes </strong></p>
        <p style="text-align: center;">1. Kimble McNair</p>
        <p style="text-align: center;">2. Thomas Hawthorne</p>
        <p style="text-align: center;">3. Ted Richardson</p>
        <p style="text-align: center;">4. Loyd Banks</p>
        <p style="text-align: center;">5. Ronnie Brown</p>
        <p style="text-align: center;">6. Jimmie Dancer</p>
        <p style="text-align: center;">7. Cliff Morris</p>
        <p style="text-align: center;"><strong>Spring 1971 – Knights of Soul </strong></p>
        <p style="text-align: center;">1. Ronald Rogers</p>
        <p style="text-align: center;">2. Anthony Mack</p>
        <p style="text-align: center;">3. Robert Branch</p>
        <p style="text-align: center;"><strong>Fall 1971 – The Defiant Ones</strong></p>
        <p style="text-align: center;">1. Charles Omega Jefferson – Crum Crusher</p>
        <p style="text-align: center;">2. David Fess Walker – Captain Fess</p>
        <p style="text-align: center;">3. George Edwin Dixon, Sr. – Baby George</p>
        <p style="text-align: center;">4. LeMorris Prier – Bubba Frog</p>
        <p style="text-align: center;">5. Jesse Benton – Ben</p>
        <p style="text-align: center;">6. Dana Maurice Moss, Sr. – Muso</p>
        <p style="text-align: center;"><strong>Spring 75 – Disciples of Darkness</strong></p>
        <p style="text-align: center;">1. Daryl Wilcox (Wildman)</p>
        <p style="text-align: center;">2. Edwardo Williams (Yummy)</p>
        <p style="text-align: center;">3. Roderick Wilmore (Hambone)</p>
        <p style="text-align: center;">4. Cicero Hartsfield (Puddin’)</p>
        <p style="text-align: center;">5. Vincent Stretcher (Stretch)</p>
        <p style="text-align: center;">6. Danny Whitfield (Fly)</p>
        <p style="text-align: center;">7. Bernard Mitchell (Dustboy)</p>
        <p style="text-align: center;">8. Dwight Walton (Horsehead)</p>
        <p style="text-align: center;">9. Larry Mitchell (Papa Cool Breeze)</p>
        <p style="text-align: center;">10. Clarence Davis</p>
        <p style="text-align: center;">11. Kenneth “Rick” Seabrooks (Pencilman)</p>
        <p style="text-align: center;">12. Larry Watson (My Man Watson)</p>
        <p style="text-align: center;">13. Roosevelt Collier (Rosey)</p>
        <p style="text-align: center;"><strong>Spring 1977 – (May 25, 1977) The Dukes of Distinction </strong></p>
        <p style="text-align: center;">1.Gerald Wilcox ” – Bubba-Red”</p>
        <p style="text-align: center;">2.Willie Long ” – Boo-Boo”</p>
        <p style="text-align: center;">3.Edgar Perry – “Sporty Frog”</p>
        <p style="text-align: center;">4.Michello Williams – “Hulk”</p>
        <p style="text-align: center;">5.Delbert Floyd – “Shamrock”</p>
        <p style="text-align: center;">6.Brodes Hartley III – “Richie Rich”</p>
        <p style="text-align: center;">7.Craig Lawson – “Dimples”</p>
        <p style="text-align: center;">8.Kirkland Floyd – “Chester the Molester”</p>
        <p style="text-align: center;">9.Frederick Allen – “Mouthpiece”</p>
        <p style="text-align: center;">10. William Bill Hill – “Yogie”</p>
        <p style="text-align: center;">11. Keith A. Miles – “Apollo”</p>
        <p style="text-align: center;">12. Vernon Williams – “Pro”</p>
        <p style="text-align: center;">13. Anthony Johnson – “White Lighting”</p>
        <p style="text-align: center;"><strong>Fall 1977 –  Emperors of Ecstasy </strong></p>
        <p style="text-align: center;">1. Terrance McCain</p>
        <p style="text-align: center;">2. Johnny Johnson</p>
        <p style="text-align: center;">3. Howell McKinney</p>
        <p style="text-align: center;">4. Jerry McMillion</p>
        <p style="text-align: center;">5. Rupert Seals</p>
        <p style="text-align: center;">6. Jasper Walkins</p>
        <p style="text-align: center;">7. Lewis Neal</p>
        <p style="text-align: center;">8. Fread Ware</p>
        <p style="text-align: center;">9. Gary Brown</p>
        <p style="text-align: center;"><strong>Fall 1978 – Omnipotent One </strong></p>
        <p style="text-align: center;">1. Winston Johnson</p>
        <p style="text-align: center;"><strong>Spring 1978 – Prophets of Ubiquity </strong>May 23, 1978</p>
        <p style="text-align: center;">1. Vince Brown</p>
        <p style="text-align: center;">2. Frank Diltz (aka Baby Sinister)</p>
        <p style="text-align: center;">3. Jesse Porter (aka Country-Boy)</p>
        <p style="text-align: center;">4. Julius Pooler (aka Cooler-pooler)</p>
        <p style="text-align: center;">5. Earl Rickman</p>
        <p style="text-align: center;">6. Elton Arnold</p>
        <p style="text-align: center;">7.Greg McFadden</p>
        <p style="text-align: center;">8. Milton Moore</p>
        <p style="text-align: center;">9. Robert Stewart (aka Tadpole-Mr. Wiggles the Worm)</p>
        <p style="text-align: center;"><strong>Spring 79 – Apocalyptic Knights </strong></p>
        <p style="text-align: center;">1. Edward Mazion – Slip Rock</p>
        <p style="text-align: center;">2. Quinton Williams – Bat Mite</p>
        <p style="text-align: center;">3. Jeffery Thompson – Blue</p>
        <p style="text-align: center;">4. Steve Williams –</p>
        <p style="text-align: center;">5. Fred Roache –</p>
        <p style="text-align: center;">6. Daryll Hughes – Top Cat</p>
        <p style="text-align: center;">7. Robert Hebert – Sherman</p>
        <p style="text-align: center;">8. William Gorham –</p>
        <p style="text-align: center;">9. Carl McDaniels –</p>
        <p style="text-align: center;">10. Arthur Collins –</p>
        <p style="text-align: center;">11. Jeffrey Lamar – Peanut</p>
        <p style="text-align: center;">12. James Reed – Spanish Maggot</p>
        <p style="text-align: center;">13. Michael Tookes –</p>
        <p style="text-align: center;">14. Michael Taylor –</p>
        <p style="text-align: center;">15. Dwayne Fisher – Godzookie</p>
        <p style="text-align: center;">16. John Ellis – Mr. Peabody</p>
        <p style="text-align: center;"><strong>Fall 1979 </strong></p>
        <p style="text-align: center;">1. Robert Jackson</p>
        <p style="text-align: center;">2. Keevin Wilcox</p>
        <p style="text-align: center;"><strong>Spring 1980 – Dramatic Intruders </strong></p>
        <p style="text-align: center;">1. Willie Gore (Tenessee Tuxedo)</p>
        <p style="text-align: center;">2. Cedric Givens (Pooh Bear)</p>
        <p style="text-align: center;">3. Vernon Williams (Bully)</p>
        <p style="text-align: center;">4. Darrell Johnson (Captain Sky)</p>
        <p style="text-align: center;">5. Jacques Raphael (The Rock)</p>
        <p style="text-align: center;">6. Phillip Riley (Chumbly)</p>
        <p style="text-align: center;">7. Vince McFarlane (Sylon)</p>
        <p style="text-align: center;"><strong>Fall 1980 – Guardians of Granduer </strong></p>
        <p style="text-align: center;">1. Robert Russell (Candyman)</p>
        <p style="text-align: center;">2. Alonzo Jones (Dr. Strange)</p>
        <p style="text-align: center;">3. Marvin Williams (Skillethead)</p>
        <p style="text-align: center;">4. Brian Crawford (Saviorfaire)</p>
        <p style="text-align: center;">5. Rodney Williams (Frankenberry)</p>
        <p style="text-align: center;">6. Paul Dunbar (Boss Hogg)</p>
        <p style="text-align: center;"><strong>Spring 1981 –  Majestic Transitioners </strong></p>
        <p style="text-align: center;">1. Anthony Lee (Cro-Magnon Man)</p>
        <p style="text-align: center;">2. Wilbur Gary (Junkyard dog)</p>
        <p style="text-align: center;">3. Kevin Creshaw (Weasle)</p>
        <p style="text-align: center;">4. Jeff Holden (Turtlehead)</p>
        <p style="text-align: center;">5. Milton Collins (Thundar)</p>
        <p style="text-align: center;">6. Byron Williams (Sir Nose)</p>
        <p style="text-align: center;">7. Brian Greene (grass hopper)</p>
        <p style="text-align: center;">8. Frank McGraw (Monkey Grip)</p>
        <p style="text-align: center;">9. Tim Johnson (Gentle Ben)</p>
        <p style="text-align: center;">10. Ruben Ransaw (Herman Monster)</p>
        <p style="text-align: center;">11. Michael Perch (K. A. Skeebop)</p>
        <p style="text-align: center;"><strong>Spring 1982 – Lords of the Golden Legacy </strong></p>
        <p style="text-align: center;">1. Victor Fields</p>
        <p style="text-align: center;">2. Reginald Dawson</p>
        <p style="text-align: center;">3. Aaron Williams</p>
        <p style="text-align: center;">4. David Bryant</p>
        <p style="text-align: center;">5. Andre Barnes</p>
        <p style="text-align: center;">6. Derek Austin</p>
        <p style="text-align: center;"><strong>Fall 1982 </strong></p>
        <p style="text-align: center;">1. Michael Jackson (ET)</p>
        <p style="text-align: center;">2. Hughes</p>
        <p style="text-align: center;">3. Todd Walker (Alpha X)</p>
        <p style="text-align: center;"><strong>Fall 1983 – Mentors of Mythology </strong></p>
        <p style="text-align: center;">1. Michael Railey</p>
        <p style="text-align: center;">2. Jerome Fitz</p>
        <p style="text-align: center;">3. Carl Tyson</p>
        <p style="text-align: center;">4. Theodore Foreman</p>
        <p style="text-align: center;">5. Elvis Stewart</p>
        <p style="text-align: center;">6. Kevin Thomas</p>
        <p style="text-align: center;">7. Gary Johnson</p>
        <p style="text-align: center;">8. Billy rolle</p>
        <p style="text-align: center;">9. Travis Lucas</p>
        <p style="text-align: center;">10. Kelvin Lawson</p>
        <p style="text-align: center;">11. Marvin Goodwin</p>
        <p style="text-align: center;">12. Tony Barrs</p>
        <p style="text-align: center;"><strong>Spring 1983 – Deacons of Destiny </strong></p>
        <p style="text-align: center;">1. Michael Gay</p>
        <p style="text-align: center;">2. Earl Taylor</p>
        <p style="text-align: center;">3. Reggie Ike</p>
        <p style="text-align: center;">4. Richard Clemmons</p>
        <p style="text-align: center;">5. Pierre Rutlegde</p>
        <p style="text-align: center;">6. Kirkland Floyd</p>
        <p style="text-align: center;">7. Andre Batson</p>
        <p style="text-align: center;">8. Louis Powell</p>
        <p style="text-align: center;">9. Larry Howard</p>
        <p style="text-align: center;">10. Patrick Hollis</p>
        <p style="text-align: center;">11. Frederick Johnson</p>
        <p style="text-align: center;">12. Michael Atcherson</p>
        <p style="text-align: center;"><strong>Spring 1984 – Pharaohs of Darkness </strong></p>
        <p style="text-align: center;">1. Roy Washington</p>
        <p style="text-align: center;">2. Kevin Neal</p>
        <p style="text-align: center;">3. Terrence Buggs</p>
        <p style="text-align: center;">4. Brian Williams</p>
        <p style="text-align: center;">5. Walter Parlins</p>
        <p style="text-align: center;"><strong>Spring 1985 – Knights of the Prophecy </strong></p>
        <p style="text-align: center;">1. Julius Hoffman</p>
        <p style="text-align: center;">2. Kevin Dennis</p>
        <p style="text-align: center;">3. Michael Smith</p>
        <p style="text-align: center;">4. Alan Armstrong</p>
        <p style="text-align: center;">5. Gregory Salters</p>
        <p style="text-align: center;">6. Dwannal McGahee</p>
        <p style="text-align: center;">7. Willie Palmer</p>
        <p style="text-align: center;">8. Ron Robinson</p>
        <p style="text-align: center;">9. Louis Cannon</p>
        <p style="text-align: center;">10. Troy Riddle</p>
        <p style="text-align: center;">11. Reggie Mitchell</p>
        <p style="text-align: center;">12. Gregory Gilmore</p>
        <p style="text-align: center;"><strong>Spring 1986 – Emperors of the Golden Light </strong></p>
        <p style="text-align: center;">1. Tony Curtis</p>
        <p style="text-align: center;">2. David Jefferson</p>
        <p style="text-align: center;">3. Melvin Dockett</p>
        <p style="text-align: center;">4. James Dubrey</p>
        <p style="text-align: center;">5. Ed Stowe</p>
        <p style="text-align: center;">6. Frank Bryant</p>
        <p style="text-align: center;">7. Byron Sims</p>
        <p style="text-align: center;">8. Ken Hudson</p>
        <p style="text-align: center;">9. Leighton Berry</p>
        <p style="text-align: center;">10. Benny Clark</p>
        <p style="text-align: center;">11. Ken Washington</p>
        <p style="text-align: center;">12. Barron Hodges</p>
        <p style="text-align: center;"><strong>Fall 1986 – Messrs. of the Nu Horizon </strong></p>
        <p style="text-align: center;">1. Tracy Williams</p>
        <p style="text-align: center;">2. Errol Wilson</p>
        <p style="text-align: center;">3. Darryl Smith</p>
        <p style="text-align: center;">4. Curtis Johnson</p>
        <p style="text-align: center;">5. Gregory Johnson</p>
        <p style="text-align: center;">6. Marty Lee</p>
        <p style="text-align: center;">7. George Bell</p>
        <p style="text-align: center;">8. Tyrous Ingram</p>
        <p style="text-align: center;"><strong>Spring 1987 – Nuveaux Riche </strong></p>
        <p style="text-align: center;">1. Arnell Brown</p>
        <p style="text-align: center;">2. Kirk McCall</p>
        <p style="text-align: center;">3. Rob Palmer</p>
        <p style="text-align: center;">4. Nate Winbush</p>
        <p style="text-align: center;">5. Robert Philpot</p>
        <p style="text-align: center;">6. Rodney Rose</p>
        <p style="text-align: center;">7. James Booth</p>
        <p style="text-align: center;"><strong>Spring 1988 – Pharaohs of the Nu Regime </strong></p>
        <p style="text-align: center;">1. Joseph Barker</p>
        <p style="text-align: center;">2. Reggie Sherman</p>
        <p style="text-align: center;">3. Travis Foster</p>
        <p style="text-align: center;">4. Haldo Perpignand</p>
        <p style="text-align: center;">5. Chris McGoogin</p>
        <p style="text-align: center;">6. Willis Walter</p>
        <p style="text-align: center;">7. David Shanks</p>
        <p style="text-align: center;">8. David Jackson</p>
        <p style="text-align: center;">9. Jason Black</p>
        <p style="text-align: center;">10. Michael Cross</p>
        <p style="text-align: center;">11. Jeff Beasley</p>
        <p style="text-align: center;">12. Rod Raphael</p>
        <p style="text-align: center;">13. Theo Cooper</p>
        <p style="text-align: center;">14. Alan Floyd</p>
        <p style="text-align: center;">15. Edwin Hawkins</p>
        <p style="text-align: center;">16. Rodney Ray</p>
        <p style="text-align: center;">17. James Vose</p>
        <p style="text-align: center;">18. Maurice Thompson</p>
        <p style="text-align: center;">19. Martin Barnes</p>
        <p style="text-align: center;">20. Zachary White</p>
        <p style="text-align: center;">21. Lloyd Hinton</p>
        <p style="text-align: center;">22. Andre Cunningham</p>
        <p style="text-align: center;">23. Rob Mayo</p>
        <p style="text-align: center;">24. Chris Allen Wayne Howard</p>
        <p style="text-align: center;"><strong>Spring 1989 – Disciples of Fate </strong></p>
        <p style="text-align: center;">1. Howard Burton</p>
        <p style="text-align: center;">2. Malcolm Calhoun</p>
        <p style="text-align: center;">3. Corey Brown</p>
        <p style="text-align: center;">4. Reggie Williams</p>
        <p style="text-align: center;">5. Owen Hardy</p>
        <p style="text-align: center;">6. Marvin Scott</p>
        <p style="text-align: center;">7. Ted White</p>
        <p style="text-align: center;">8. Christopher Key</p>
        <p style="text-align: center;">9. Ray Matthews</p>
        <p style="text-align: center;">10. Dion Lyons</p>
        <p style="text-align: center;">11. Jacques Meadows</p>
        <p style="text-align: center;">12. Jonathan Allen</p>
        <p style="text-align: center;">13. Mike Brock</p>
        <p style="text-align: center;">14. Jemal Gibson</p>
        <p style="text-align: center;">15. Damon Pace</p>
        <p style="text-align: center;">16. Corey Pressley</p>
        <p style="text-align: center;">17. Daryl Parks</p>
        <p style="text-align: center;">18. George Starr</p>
        <p style="text-align: center;">19. David Cosby</p>
        <p style="text-align: center;">20. William Lacey</p>
        <p style="text-align: center;"><strong>Spring 1990 – Nubians of the Nu Dynasty </strong></p>
        <p style="text-align: center;">1. David Wells</p>
        <p style="text-align: center;">2. Joel Johnson</p>
        <p style="text-align: center;">3. Patrick Scott</p>
        <p style="text-align: center;">4. Byron White</p>
        <p style="text-align: center;">5. Richard McCloud</p>
        <p style="text-align: center;">6. Derrick McCants</p>
        <p style="text-align: center;">7. Theodore Gilmore</p>
        <p style="text-align: center;">8. Reggie Wynn</p>
        <p style="text-align: center;">9. Robert Flakes</p>
        <p style="text-align: center;">10. Joe Youngblood</p>
        <p style="text-align: center;">11. David Askew</p>
        <p style="text-align: center;">12. Mike Bonds</p>
        <p style="text-align: center;">13. Mike Hargrett</p>
        <p style="text-align: center;">14. Kwame Kilpatrick</p>
        <p style="text-align: center;">15. Vincent Adams</p>
        <p style="text-align: center;"><strong>Spring 1991 – Nu Prophets of Righteousness </strong></p>
        <p style="text-align: center;">1. Richard Butler</p>
        <p style="text-align: center;">2. Brian Starkes</p>
        <p style="text-align: center;">3. William Hayes</p>
        <p style="text-align: center;">4. Nate Wilson</p>
        <p style="text-align: center;">5. Rob Stovall</p>
        <p style="text-align: center;">6. Mark Garrett</p>
        <p style="text-align: center;">7. James “Eli” Patrick</p>
        <p style="text-align: center;">8. Lloyd Mack</p>
        <p style="text-align: center;">9. Ken Thompson</p>
        <p style="text-align: center;">10. Alex Levy</p>
        <p style="text-align: center;">11. Rahman Kahn</p>
        <p style="text-align: center;">12. Nathaniel Laney</p>
        <p style="text-align: center;">13. Rodney Kidd</p>
        <p style="text-align: center;"><strong>Spring 1992 – Nomarchs of the Nu Umoja </strong></p>
        <p style="text-align: center;">1. Jack Foster</p>
        <p style="text-align: center;">2. Mike Bouldin</p>
        <p style="text-align: center;">3. Ellis Dean</p>
        <p style="text-align: center;">4. David Wilson</p>
        <p style="text-align: center;">5. Anthony Moultrie</p>
        <p style="text-align: center;">6. Hew Pinto</p>
        <p style="text-align: center;">7. Thomas Campbell</p>
        <p style="text-align: center;">8. Tyrone Davis</p>
        <p style="text-align: center;">9. Frank Clark</p>
        <p style="text-align: center;">10. Glenn Ford</p>
        <p style="text-align: center;">11. Junious Brown</p>
        <p style="text-align: center;">12. Eric W. Haynes</p>
        <p style="text-align: center;">13. Reggie Williams</p>
        <p style="text-align: center;">14. Byron Anderson</p>
        <p style="text-align: center;">15. Jamal Jackson</p>
        <p style="text-align: center;">16. David Richards</p>
        <p style="text-align: center;">17. O’Neal Larkin</p>
        <p style="text-align: center;">18. Terrance McNeil</p>
        <p style="text-align: center;"><strong>Spring 1993 – Nu Risha of the Osirian Order </strong></p>
        <p style="text-align: center;">1. Horace Clark</p>
        <p style="text-align: center;">2. William Robinson</p>
        <p style="text-align: center;">3. Johnny Horton</p>
        <p style="text-align: center;">4. Anthony Aranha</p>
        <p style="text-align: center;">5. Shawn Dycks</p>
        <p style="text-align: center;">6. William Packer</p>
        <p style="text-align: center;">7. Darryl Miles</p>
        <p style="text-align: center;">8. Thomas Campbell</p>
        <p style="text-align: center;">9. Shundrawn Thomas</p>
        <p style="text-align: center;">10. David Herman</p>
        <p style="text-align: center;">11. Robert Hardy</p>
        <p style="text-align: center;">12. Richard Hanks</p>
        <p style="text-align: center;">13. E. Jermaine Williams</p>
        <p style="text-align: center;">14. W. Cecil Hobbs</p>
        <p style="text-align: center;">15. T. Carlton Williams</p>
        <p style="text-align: center;">16. Derrick Jones*</p>
        <p style="text-align: center;">17. Tirrell Whittley</p>
        <p style="text-align: center;">18. Woodroe Franklin</p>
        <p style="text-align: center;">19. Anthony Rutledge</p>
        <p style="text-align: center;">* – Omega Chapter</p>
        <p style="text-align: center;"><strong>Spring 1994 – Nu Senghorians of the Golden Sect </strong></p>
        <p style="text-align: center;">1. Robert Turner</p>
        <p style="text-align: center;">2. Robert Whittinham</p>
        <p style="text-align: center;">3. Tory Hunter</p>
        <p style="text-align: center;">4. Marcus Knight</p>
        <p style="text-align: center;">5. Quinton Washington</p>
        <p style="text-align: center;">6 .Dexter Bridgeman</p>
        <p style="text-align: center;">7. Jon Brown</p>
        <p style="text-align: center;">8. Eric Jenkins</p>
        <p style="text-align: center;">9. Steven Fletcher</p>
        <p style="text-align: center;">10. Louis Jones</p>
        <p style="text-align: center;">11. Phillip Harp</p>
        <p style="text-align: center;">12. Gray</p>
        <p style="text-align: center;">13. Reggie Smith</p>
        <p style="text-align: center;">14. Nicholas Nelson</p>
        <p style="text-align: center;">15. Raymond Crump</p>
        <p style="text-align: center;">16. Edward Dean</p>
        <p style="text-align: center;"><strong>Spring 1995 – Anubisinians of the Dark Obelisk </strong></p>
        <p style="text-align: center;">1. Samuel Horton</p>
        <p style="text-align: center;">2. Charles Frazier</p>
        <p style="text-align: center;">3. Alonzo Clark</p>
        <p style="text-align: center;">4. Clifton Goins</p>
        <p style="text-align: center;">5. Justin Smith</p>
        <p style="text-align: center;">6. Shaun Bailey</p>
        <p style="text-align: center;">7. Jerome Johnson</p>
        <p style="text-align: center;">8. Eugene Waiters</p>
        <p style="text-align: center;">9. LeRonne Spear</p>
        <p style="text-align: center;">10. Lorin Crenshaw</p>
        <p style="text-align: center;"><strong>Spring 1996 – Nu Thebans of the Ramsean Architrave </strong></p>
        <p style="text-align: center;">1. Dwayne Kernahan</p>
        <p style="text-align: center;">2. Joe Carrol</p>
        <p style="text-align: center;">3. Kelvin McDaniel</p>
        <p style="text-align: center;">4. Santiago Churchwell</p>
        <p style="text-align: center;">5. Rayford Davis</p>
        <p style="text-align: center;">6. Kirk McCoy</p>
        <p style="text-align: center;">7. Douglas Miller</p>
        <p style="text-align: center;">8. Kendrick Williams</p>
        <p style="text-align: center;">9. Jeffrey Brown</p>
        <p style="text-align: center;">10. Demetricus Holloway</p>
        <p style="text-align: center;">11. Lonnie Bryant</p>
        <p style="text-align: center;">12. Eric McReynolds</p>
        <p style="text-align: center;">13. Theodore Caviness</p>
        <p style="text-align: center;">14. Aaron Roberts</p>
        <p style="text-align: center;">15. Damuel Stewart</p>
        <p style="text-align: center;"><strong>Spring 1999 – Nu Kushites of the Kheprian Resurrection </strong></p>
        <p style="text-align: center;">1. Edward Rockett</p>
        <p style="text-align: center;">2. Vance Jones</p>
        <p style="text-align: center;">3. Conrad Henry</p>
        <p style="text-align: center;">4. Jason Frazier</p>
        <p style="text-align: center;">5. Glenn Davis, Jr.</p>
        <p style="text-align: center;">6. Franco Harris</p>
        <p style="text-align: center;">7. Charles Fitzpatrick</p>
        <p style="text-align: center;">8. Daniel Chatters</p>
        <p style="text-align: center;">10. Akil Hameed</p>
        <p style="text-align: center;">11. B. Reginald Harrison</p>
        <p style="text-align: center;">12. Robert Smith</p>
        <p style="text-align: center;">13. Reginald Nickson</p>
        <p style="text-align: center;">15. Willie Booker, III</p>
        <p style="text-align: center;">16. Jarrett Datcher</p>
        <p style="text-align: center;">18. Mathew Quigless</p>
        <p style="text-align: center;">19. Stacy T. Lindsey</p>
        <p style="text-align: center;">20. Kenneth Jones</p>
        <p style="text-align: center;">21. Montreal Morand</p>
        <p style="text-align: center;">22. Richard Mathews</p>
        <p style="text-align: center;">23. Christopher Shorter</p>
        <p style="text-align: center;">24. Robert Williams</p>
        <p style="text-align: center;">25. Korey Taylor</p>
        <p style="text-align: center;">26. Jason Bryant</p>
        <p style="text-align: center;">27. Theorphilus “T.J.” Rose</p>
        <p style="text-align: center;">28. Pettis Kent</p>
        <p style="text-align: center;"><strong>Spring 2000 – Nu Herusians of the Montuan Pesedt </strong></p>
        <p style="text-align: center;">1. Damon Brown</p>
        <p style="text-align: center;">2. Dennis Jackson, II</p>
        <p style="text-align: center;">3. Demond Moy</p>
        <p style="text-align: center;">4. Joe Womack, III</p>
        <p style="text-align: center;">5. Melvin Carter, III</p>
        <p style="text-align: center;">6. Maurice Morgan</p>
        <p style="text-align: center;">7. Maurice Davis</p>
        <p style="text-align: center;">8. Danny Banks</p>
        <p style="text-align: center;">9. Russell Hopson</p>
        <p style="text-align: center;">10. Russell Larvadain II</p>
        <p style="text-align: center;">11. Delaney Douglas</p>
        <p style="text-align: center;"><strong>Spring 2001 – Nu Sokarians of the Heliolopian Conquest </strong></p>
        <p style="text-align: center;">1. Beranton Whisenant, Jr.</p>
        <p style="text-align: center;">2. Jason Campbell</p>
        <p style="text-align: center;">3. Marques Dixon</p>
        <p style="text-align: center;">4. Antron Alexander</p>
        <p style="text-align: center;">5. Marvin Wilmoth</p>
        <p style="text-align: center;">6. Keith Franklin</p>
        <p style="text-align: center;">7. Raymond Rivers</p>
        <p style="text-align: center;">8. Malik Miller</p>
        <p style="text-align: center;">9. Brandon Toliver</p>
        <p style="text-align: center;">10. Chad Qualls</p>
        <p style="text-align: center;">11. Darius Hodge</p>
        <p style="text-align: center;">12. Alvin Kennedy, Jr.</p>
        <p style="text-align: center;">13. Jermaine Jack</p>
        <p style="text-align: center;">14. Brandon Best</p>
        <p style="text-align: center;">15. Korey Morris</p>
        <p style="text-align: center;">16. Andre Hammel</p>
        <p style="text-align: center;">17. Ken Koontz</p>
        <p style="text-align: center;"><strong>Fall 2002 – Nu Tanisians of the Wesirian Triumph </strong></p>
        <p style="text-align: center;">1. Christchankeith Marshall</p>
        <p style="text-align: center;">2. Jason Hurst</p>
        <p style="text-align: center;">3. Haseem Hannah</p>
        <p style="text-align: center;">4. Cory Cole</p>
        <p style="text-align: center;">5. Erick Gracia</p>
        <p style="text-align: center;">6. Larry O. Rivers</p>
        <p style="text-align: center;">7. Elton Anderson, Jr.</p>
        <p style="text-align: center;">8. Jared Griffith</p>
        <p style="text-align: center;">9. Christopher Cunningham</p>
        <p style="text-align: center;">10. Robert Clemmon</p>
        <p style="text-align: center;">11. Jared Wofford</p>
        <p style="text-align: center;">12. Jonathan Quarles</p>
        <p style="text-align: center;">13. Kenjay Williams</p>
        <p style="text-align: center;">14. Reginald Wesley</p>
        <p style="text-align: center;">15. Gabriel Chapman</p>
        <p style="text-align: center;">16. Sy Henderson</p>
        <p style="text-align: center;">17. Bisrat Gebru</p>
        <p style="text-align: center;">18. Rahn Ravenell</p>
        <p style="text-align: center;">19. Bobby Staten, III</p>
        <p style="text-align: center;">20. Mateen Stewart</p>
        <p style="text-align: center;"><strong>Fall 2004 – Nu Akerites of the Zehutian Renaissance </strong></p>
        <p style="text-align: center;">1. Omari Murphy</p>
        <p style="text-align: center;">2. James Jones</p>
        <p style="text-align: center;">3. Marcus Watkins</p>
        <p style="text-align: center;">4. Keon Hardemon</p>
        <p style="text-align: center;">5. Marcus Smith (Omega Chapter)</p>
        <p style="text-align: center;">6. Ramon Alexander</p>
        <p style="text-align: center;">7. Jeffrey Allen</p>
        <p style="text-align: center;">8. Sean Johnson</p>
        <p style="text-align: center;">9. Brandon Alexander</p>
        <p style="text-align: center;">10. Brandon Kiel</p>
        <p style="text-align: center;">11. Dwight McGee</p>
        <p style="text-align: center;">12. Orlando Norwood</p>
        <p style="text-align: center;">13. Joseph Pierce, Jr.</p>
        <p style="text-align: center;">14. Sean Villery-Samuel</p>
        <p style="text-align: center;"><strong>Spring 2005 – Nu Amenians of Merenptah’s Revolution </strong></p>
        <p style="text-align: center;">1. Rashad Brown</p>
        <p style="text-align: center;">2. Phillip Agnew</p>
        <p style="text-align: center;">3. AlexanderHarris, III</p>
        <p style="text-align: center;">4. Johnathon Sellers</p>
        <p style="text-align: center;">5. Brandon Ellis</p>
        <p style="text-align: center;">6. David Gibson, Jr.</p>
        <p style="text-align: center;">7. Larry Ferguson</p>
        <p style="text-align: center;">8. Marcus Carson</p>
        <p style="text-align: center;">9. Montrel Miller</p>
        <p style="text-align: center;">10. Terrance McKnight</p>
        <p style="text-align: center;">11. William Miller, III</p>
        <p style="text-align: center;">12. Remington Noble</p>
        <p style="text-align: center;">13. Thaddeus Payton</p>
        <p style="text-align: center;">14. Carey Goins, Jr.</p>
        <p style="text-align: center;">15. Steven Jumper</p>
        <p style="text-align: center;">16. Michael Swift</p>
        <p style="text-align: center;"><strong>Spring 2006 – Nu Khensuans of the Djedian Ascent </strong></p>
        <p style="text-align: center;">1. Eric O’Rear</p>
        <p style="text-align: center;">2. Elijah Bowdre</p>
        <p style="text-align: center;">3. Kristopher Steward</p>
        <p style="text-align: center;">4. Kilian Toms</p>
        <p style="text-align: center;">5. Dante’ Cager</p>
        <p style="text-align: center;">6. Andrew Collins</p>
        <p style="text-align: center;">7. Reginald Snowden</p>
        <p style="text-align: center;">8. Aaron Brown</p>
        <p style="text-align: center;">9. Anthony Murphy, Jr.</p>
        <p style="text-align: center;">10. James Nero</p>
        <p style="text-align: center;">11. Biko Smith</p>
        <p style="text-align: center;">12. Bryan Walker</p>
        <p style="text-align: center;">13. Sean Smith</p>
        <p style="text-align: center;">14. James Bland</p>
        <p style="text-align: center;"><strong>Spring 2007 – Nu Menkarians of the Nebian Sovereignty
        </strong></p>
        <p style="text-align: center;">1. Eric James</p>
        <p style="text-align: center;">2. Zakery Wilson</p>
        <p style="text-align: center;">3. Frederick Brown</p>
        <p style="text-align: center;">4. Brandon MItchell</p>
        <p style="text-align: center;">5. Gallop Franklin II</p>
        <p style="text-align: center;">6. Garrett Henry</p>
        <p style="text-align: center;">7. Randi Smith</p>
        <p style="text-align: center;">8. Chise Nicholson</p>
        <p style="text-align: center;">9. Zachery Bagwell</p>
        <p style="text-align: center;">10. Jeremy Mounticure</p>
        <p style="text-align: center;"><strong>Spring 2008 – Nu Sethusuans of Nephekars Resurgence</strong></p>
        <p style="text-align: center;">1. Richard Kellman</p>
        <p style="text-align: center;">2. George Burns III</p>
        <p style="text-align: center;">3. Jeffery Holden Jr.</p>
        <p style="text-align: center;">4. William Oliver</p>
        <p style="text-align: center;">5. Timothy Lewis</p>
        <p style="text-align: center;">6. Calvin Hayes</p>
        <p style="text-align: center;">7. Nathaniel Holston</p>
        <p style="text-align: center;">8. Andre Jacobs</p>
        <p style="text-align: center;">9. Anthony Brown II</p>
        <p style="text-align: center;">10. Brian Fernando</p>
        <p style="text-align: center;">11. Darrin Eakins</p>
        <p style="text-align: center;">12. Carlton Faison Jr.</p>
        <p style="text-align: center;"><strong>Spring 2009 – Nu Khephirites of the Narmerian Legacy</strong></p>
        <p style="text-align: center;">1. Christopher D. Brown</p>
        <p style="text-align: center;">2. Keith R. Oliver</p>
        <p style="text-align: center;">3. Johnny L. Brown</p>
        <p style="text-align: center;">4. Quintin L. Haynes</p>
        <p style="text-align: center;">5. Clarence L. Sirmons</p>
        <p style="text-align: center;">6. Brian A. Gaines</p>
        <p style="text-align: center;">7. Brandon J. Smith</p>
        <p style="text-align: center;">8. Lyndon U. Hines</p>
        <p style="text-align: center;">9. Jadaun D. Sweet</p>
        <p style="text-align: center;">10. Jeremy L. George</p>
        <p style="text-align: center;">11. Timothy D. Jones Jr.</p>
        <p style="text-align: center;"><strong>Fall 2010 – Nu Horusuans of the Thebian Horizon</strong></p>
        <p style="text-align: center;">1. Breyon Love</p>
        <p style="text-align: center;">2. Bernard Jackson</p>
        <p style="text-align: center;">3. Juriste Jean-Baptiste</p>
        <p style="text-align: center;">4. Daniel Ware</p>
        <p style="text-align: center;">5. Michael Woodward Jr.</p>
        <p style="text-align: center;">6. Justin McCorvey</p>
        <p style="text-align: center;">7. Brandon Armstrong</p>
        <p style="text-align: center;">8. Samuel Floyd II</p>
        <p style="text-align: center;">9. Troy Harris II</p>
        <p style="text-align: center;">10. Dennard Smith</p>
        <p style="text-align: center;">11. Adam Smith</p>
        <p style="text-align: center;">12. Jamal Holder</p>
        <p style="text-align: center;">13. Brandon Camille</p>
        <p style="text-align: center;">14. Robensky Theodore</p>
        <p style="text-align: center;">15. Lamar Lewis</p>
        <p style="text-align: center;">16. Rotimi Omosheyin Jr.</p>
        <p style="text-align: center;">17. James Campbell III</p>
        <p style="text-align: center;">18. Alexander Anglade</p>
        <p style="text-align: center;">19. Anthony Collins</p>
        <p style="text-align: center;">20. Ameer Brown</p>
        <p style="text-align: center;">21. Steven Ward Jr.</p>
        <p style="text-align: center;"><strong>Fall 2011 - Nu Akhenthians of Amarnas Rebirth</strong></p>
        <p style="text-align: center;">DP - Brandon Smith</p>
        <p style="text-align: center;">1. Conial Cardwell</p>
        <p style="text-align: center;">2. Rashaad Mayes</p>
        <p style="text-align: center;">3. Deven Brown</p>
        <p style="text-align: center;">4. Louis Jean-Baptiste</p>
        <p style="text-align: center;">5. D’Vante Morales</p>
        <p style="text-align: center;">6. Ashton Soles</p>
        <p style="text-align: center;">7. Stephan Blount</p>
        <p style="text-align: center;">8. Napoleon Robinson</p>
        <p style="text-align: center;">9. Christopher Chavannes</p>
        <p style="text-align: center;">10. Joshua Smith</p>
        <p style="text-align: center;">11. Kevin Noble</p>
        <p style="text-align: center;"><strong>Spring 2013 - Nu Luxorians of the Amunrasian Alliance</strong></p>
        <p style="text-align: center;">Dean: Justin McCorvey</p>
        <p style="text-align: center;">1. Tom Diamond, II</p>
        <p style="text-align: center;">2. Donovan Parker</p>
        <p style="text-align: center;">3. Bobby Coston</p>
        <p style="text-align: center;">4. Lamont Howard</p>
        <p style="text-align: center;">5. Caleb Ross</p>
        <p style="text-align: center;">6. Evan Bailey</p>
        <p style="text-align: center;">7. Ismael Sierra</p>
        <p style="text-align: center;">8. Evan Galloway</p>
        <p style="text-align: center;">9. Nick Braden</p>
        <p style="text-align: center;">10. Michael Bonds</p>
        <p style="text-align: center;">11. Christopher Arenas</p>
        <p style="text-align: center;">12. Mark Stallworth</p>
        <p style="text-align: center;">13. Leland Hall</p>
        <p style="text-align: center;">14. Jonathan Thomas</p>
        <p style="text-align: center;">15. Paul Ford</p>
        <p style="text-align: center;">16. Carrington Coleman</p>
        <p style="text-align: center;">17. Daiquaun Harrison</p>
        <p style="text-align: center;">18. Vincent Montgomery</p>
        <p style="text-align: center;"><strong>Spring 2014 - Nu Maryannu of Tuthmosis Dynasty</strong></p>
        <p style="text-align: center;">Dean: Rashaad Mayes</p>
        <p style="text-align: center;">1. Chavis Walker</p>
        <p style="text-align: center;">2. Jaquis Tauriac</p>
        <p style="text-align: center;">3. Ryan Kornegay</p>
        <p style="text-align: center;">4. Kelechi Nwadigo</p>
        <p style="text-align: center;">5. Orlin St. Surin</p>
        <p style="text-align: center;">6. Donovan Long</p>
        <p style="text-align: center;">7. Brandon Oatts</p>
        <p style="text-align: center;">8. Troy Thompson</p>
        <p style="text-align: center;">9. Jordan Smith</p>
        <p style="text-align: center;">10. Justin Lee</p>
        <p style="text-align: center;">11. Michael L. Thomas Jr</p>
        <p style="text-align: center;">12. Ashraf El Sayed</p>
        <p style="text-align: center;">13. Dana Cooper</p>
        <p style="text-align: center;">14. Ronnie Graham</p>
        <p style="text-align: center;">15. Vincent Ross</p>
        <p style="text-align: center;">16. Travis Mickens</p>
        <p style="text-align: center;">17. Marveetes Brown</p>
        <p style="text-align: center;">18. Jared Eummer</p>
        <p style="text-align: center;">19. Andre' Bridges</p>
    </section>
</ons-page>