<ons-page ng-controller="CustomPostsController">
    
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Custom Posts</div></div>
    </ons-toolbar>
    
    <section style="padding: 10px;">
        
        <div ng-repeat="post in posts">
            <ons-row style="padding: 0 0 20px 0;">
                <ons-col>
                    <h3 class="title" ng-bind-html="post.title" ng-click="showDetail($index)"></h3>
                    
                    <a ng-click="showDetail($index)">
                        <img class="post-teaser-image" ng-src="{{post.featured_image.attachment_meta.sizes.thumbnail.url}}" ng-show="{{post.featured_image.attachment_meta.sizes.thumbnail.url}}"/>
                    </a>
                    
                    <p class="post-excerpt" ng-bind-html="post.excerpt"></p>
                    <ons-button class="post-teaser" modifier="quiet" ng-click="showDetail($index)">Read more</ons-button>
                    
                </ons-col>
            </ons-row>
        </div>
        
        <ons-row align="center">
            <ons-col>
                <ons-button ng-show="hasMoreItems()" ng-click="showMoreItems()" class="load-show-more"><i class="fa fa-angle-double-down more-icon"></i>Load more</ons-button>
            </ons-col>
        </ons-row>
        
        <ons-row align="center" class="status-message">
            <ons-col>
                <span ng-bind="msg"></span>
            </ons-col>
        </ons-row>
        
    </section>
    
</ons-page>